@use 'src/styles/colors.scss' as *;

.container {
  width: 100%;
  height: 140px;
  padding: 18px 40px;
  border-radius: 14px;
  background-color: $bg-white;
  border: 1px solid $text-green;
}

.tableContainer {
  height: 100%;
  overflow-y: scroll;
}
