$secondary-tintgreen: #e1f8ec;
$linkwater: #e5e7fe;
$secondary-peach: #f6e5d6;
$secondary-olive: #eefae2;
$secondary-cherub: #f8d7de;
$secondary-golden: #f7f1e1;
$secondary-water: #dce8f6;
$support-green: #1cc854;
$support-red: #db5c6c;
$support-yellow: #fecd54;
$support-blue: #2e4dd4;
$bg-grey: #f8f9fe;
$bg-white: #ffffff;
$bg-dark: #033418;
$bg-black: #000000;
$text-black: #000000;
$text-grey: #8692a6;
$text-green: #0ace5f;
$dark-green: #033417;
$text-white: #ffffff;
$primary-blue: #0c1b80;
$primary-dark-blue: #2e4765;
