@use 'src/styles/variables.scss' as *;
@use 'src/styles/colors.scss' as *;

.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none;
  Settings &:focus {
    outline: none;
  }
  z-index: 1;
}

.buttonStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  height: 48px;
  padding-left: 14px;
  padding-right: 17px;
  background: $bg-grey;
  box-shadow: 0px 6px 58px rgba(196, 203, 214, 0.103611);
  border-radius: 14px;
  border: none;
  cursor: pointer;

  font-family: 'Inter-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: $text-black;

  &:hover:enabled {
    background: #cccccc;
  }

  &:disabled {
    opacity: 0.2;
    cursor: default;
  }
  z-index: 1;
}

.h32 {
  height: 32px;
  min-width: 100px;
  padding-left: 16px;
  padding-right: 16px;
}

.menuArea {
  position: absolute;
  top: 77px;
  right: 24px;
  @include respond-to('medium') {
    top: 108px;
    right: 54px;
  }
  width: auto;
  min-width: 200px;
  height: auto;
  background-color: white;
  box-shadow: 0px 18px 40px rgba(112, 144, 176, 0.12);
  border-radius: 24px;
  padding-left: 17px;
  padding-right: 17px;
  z-index: 1;
}

.menuItemArea {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 14px 22px;

  font-family: 'Inter-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #0a1629;

  cursor: pointer;
  &:hover {
    color: $text-green;
    background: rgba(10, 206, 95, 0.2);
    border-radius: 24px;
  }
}
