@use 'src/styles/colors.scss' as *;
@use 'src/styles/variables.scss' as *;

.container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  margin: auto;
  z-index: 1;
  background-color: white;
}
.successfulIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  border-top: 20px solid $text-green;
  width: calc(100% - 32px);
  border-radius: 20px;
  padding-top: 32px;
  @include respond-to('medium') {
    border-top: 0px;
  }
}
.formContainer {
  width: calc(100% - 32px);
  padding: 32px;
  @include respond-to('medium') {
    width: 424px;
  }
  margin-bottom: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.buttonArea {
  margin-top: 63px;
  width: 100%;
  display: flex;
  justify-content: center;
}
