@use 'src/styles/colors.scss' as *;
@use 'src/styles/variables.scss' as *;

.container {
  display: flex;
  flex-direction: column;

  flex: 1;
  z-index: 1;
  background-color: white;
  width: 100%;
  min-height: calc(100vh - 30px);
  height: 100%;
  padding: 30px 32px;
  @include respond-to('medium') {
    position: relative;
    top: 0px;
    min-height: 100vh;
    height: 100%;
    padding: 76px 60px;
    min-width: 460px;
  }
}
.infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.formContainer {
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 426px;
}

.checkboxArea {
  margin-top: 32px; // 87px
  margin-bottom: 32px;
}
